@import "tailwindcss";
@import "tw-animate-css";
@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-mainColor: #000319;
  --color-thirtyColor: #CBACF9;
  --color-descColor: #BEC1DD;
  --color-borderColor: #cbacf924;
  --color-mainEasierColor: #000738;
  --breakpoint-mc: 860px;
  --font-poppins: var(--font-poppins);
  --font-inter: var(--font-inter);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-mainColor font-inter text-white;
  }

  .main-title {
    @apply mc:text-[40px] xl:text-[54px] font-light tracking-wider leading-[120%]
  }
}

.to-top {
  animation: easeOutElastic 1s ease-in forwards;
}

@keyframes easeOutElastic {
  0% {
    transform: translateY(250%);
    opacity: 0;
  }

  16% {
    transform: translateY(-32.27%);
  }

  28% {
    transform: translateY(13.12%);
    opacity: 1;
  }

  44% {
    transform: translateY(-4.63%);
  }

  59% {
    transform: translateY(1.64%);
  }

  73% {
    transform: translateY(-0.58%);
  }

  88% {
    transform: translateY(0.2%);
  }

  100% {
    transform: translateY(0%);
  }
}

.to-top-bottom1 {
  animation: easeOutElasticBottom 1s ease-in forwards;
}

@keyframes easeOutElasticBottom {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }

  20% {
    transform: translateY(10%);
  }

  40% {
    transform: translateY(-5%);
  }

  100% {
    transform: translateY(150%);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
  /* Set the width of the scrollbar */
}

/* Target the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #000319;
}

/* Target the scrollbar thumb (the draggable handle) */
::-webkit-scrollbar-thumb {
  background: #151930;
  border-radius: 3px;
  /* Add rounded corners to the thumb */
}

/* Style the thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1c213f;
}

/* Target the corner where two scrollbars meet (if applicable) */
::-webkit-scrollbar-corner {
  background: #000319;
}

.navbar-shadow {
  box-shadow: #cbacf910 0px 4px 16px, #cbacf910 0px 4px 24px, #cbacf910 0px 16px 56px;
}

#draggable-navbar.dragging {
  transition: none !important;
  cursor: grabbing;
}

.border-gradient {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#0000007f, #000) padding-box, linear-gradient(var(--angle),
      #000000,
      oklch(31.5% 0.143 215.221)) border-box;
  animation: 8s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  height: 100%;
  background: #000319;
  user-select: none;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullets {
  background: #000;
  background: linear-gradient(0deg, rgba(0, 3, 25, 1) 0%, rgba(0, 0, 0, 0.31) 100%);
  bottom: 0px !important;
  height: 20px;
  padding: 4px 4px 0px 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #cbacf9;
  opacity: 0.5;
  margin: 0px 3px !important;
}

.swiper-pagination-bullet-active {
  background: #0060c7;
  opacity: 1;
}

@media (min-width: 0px) and (max-width: 1280px) {
  .swiper-pagination-bullets {
    background: #000;
    background: linear-gradient(0deg, rgba(0, 3, 25, 1) 0%, rgba(0, 0, 0, 0.31) 100%);
    bottom: 0px !important;
    height: 12px;
    padding: 2px 2px 0px 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background: #cbacf9;
    opacity: 0.5;
    margin: 0px 1px !important;
  }

  .swiper-pagination-bullet-active {
    background: #0060c7;
    opacity: 1;
  }
}

.check-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkmark {
  width: 18px;
  height: 18px;
  stroke-width: 4;
  stroke: #fff;
  fill: none;
  stroke-linecap: round;
  animation: scaleIn 0.5s ease-out forwards;
}

/* Circle draw */
.checkmark-circle {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  animation: circleDraw 0.7s ease-out forwards;
}

/* Check draw */
.checkmark-check {
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: checkDraw 0.5s ease-out 0.8s forwards;
}

/* Animations */
@keyframes circleDraw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes checkDraw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


.x-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.xmark {
  width: 18px;
  height: 18px;
  stroke-width: 4;
  stroke: oklch(50.5% 0.213 27.518);
  /* red-500 */
  fill: none;
  stroke-linecap: round;
  animation: scaleIn 0.5s ease-out forwards;
}

/* Circle draw */
.xmark-circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  animation: circleDraw 0.8s ease-out forwards;
}

/* First line of X */
.xmark-line1 {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  animation: xDraw 0.5s ease-out 0.8s forwards;
}

/* Second line of X */
.xmark-line2 {
  stroke-dasharray: 24;
  stroke-dashoffset: 24;
  animation: xDraw 0.5s ease-out 0.9s forwards;
}

/* Animations */
@keyframes circleDraw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes xDraw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.fade1 {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade1.show1 {
  opacity: 1 !important;
}